
  <link href="//cdn.syncfusion.com/ej2/material.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<body class="ej2-new"> 

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLQL39J"height="0"width="0"style="display:none;visibility:hidden"></iframe></noscript>
    <div hidden id="sync-analytics" data-queue="EJ2 - Angular - Demos"></div>

    <div class="control-section" style="padding-top: 10%;">
        <div class="dual-list-wrapper">
            <div class="dual-list-groupa">
                <h4 style="font-size:18px;text-align:center">Available Global Lines of Business</h4>
                <ejs-listbox [dataSource]="dataA" #listbox1 [toolbarSettings]="toolbarSettings" height="340px"
                    scope="#connected-list" [fields]="fields" [allowDragAndDrop]="true" (actionBegin)="actionBegin($event)"(actionComplete)="actionComplete($event)"></ejs-listbox>
            </div>
            <div class="dual-list-groupb">
                <h4 style="font-size:18px;text-align:center">Selected Global Lines of Business</h4>
                <ejs-listbox id="connected-list" #listbox2 [dataSource]="dataB" height="340px" [fields]="fields"
                    [allowDragAndDrop]="true"  scope="#connected-list">
                </ejs-listbox>
            </div>
        </div>
    </div>
