<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
<div class="mat-app-background basic-container" style="padding-left:10%;padding-top:10%;">
    <table matSort (matSortChange)="sortData($event)" matSortActive="carbs" matSortDirection="asc">
        <tr>
          <th mat-sort-header="level">ZInstruction Level</th>
          <th mat-sort-header="code">Agency Code</th>
          <th mat-sort-header="s_id">Site ID</th>
          <th mat-sort-header="glob">GLOB</th>
        </tr>
      
        <tr *ngFor="let dessert of sortedData">
          <td>{{dessert.Instruction_Level}}</td>
          <td>{{dessert.code}}</td>
          <td>{{dessert.s_id}}</td>
          <td>{{dessert.glob}}</td>
        </tr>
      </table>
</div>

