
<div style="margin-top: 5%;margin-left: 9%;" class="container">
    <form (ngSubmit)="submit()" ngNativeValidate>
      <div class="form-group">
        <!--<label for="instr_level" style="font-size:18px;">Instruction Level</label>-->
        Instruction Level:- <input type="text" class="form-control" id="instr_level" name="instr_level" required style="border:none;border-bottom:2px solid grey;" [(ngModel)]="x.inv_delivery.instr_level">        
      </div>
      <div class="form-group">
        <label for="agency_code" style="font-size:18px;">Epic Agency Code</label>
        <input type="text" class="form-control" id="agency_code" name="agency_code" required  [(ngModel)]="x.inv_delivery.agency_code">        
      </div>
      <div class="form-group">
        <label for="s_id" style="font-size:18px;">Site ID</label>
        <input type="text" class="form-control" id="s_id" name="s_id" required  [(ngModel)]="x.inv_delivery.s_id">        
      </div>
      <div class="form-group">
        <label for="contact_name" style="font-size:18px;">Contact name</label>
        <input type="text" class="form-control" id="contact_name" name="contact_name" required  [(ngModel)]="x.inv_delivery.contact_name">        
      </div>
      <div class="form-group">
        <label for="glob" style="font-size:18px;">GLOB</label>
        <input type="text" class="form-control" id="glob" name="glob" required  [(ngModel)]="x.inv_delivery.glob">        
      </div>
      <div class="form-group">
        <label for="desc" style="font-size:18px;">Description</label>
        <input type="text" class="form-control" id="desc" name="desc" required  [(ngModel)]="x.inv_delivery.desc">        
      </div>
      <div class="form-group">
        <label for="updated_by" style="font-size:18px;">Updated by</label>
        <input type="text" class="form-control" id="updated_by" name="updated_by" required  [(ngModel)]="x.inv_delivery.updated_by">        
      </div>
      <div class="form-group">
        <label for="updated_on" style="font-size:18px;">Updated On</label>
        <input type="text" class="form-control" id="updated_on" name="updated_on" required  [(ngModel)]="x.inv_delivery.updated_on">        
      </div>
      <button type="submit" style="font-size:18px;width: 80px; height: 35px; background-color: #3399ff;border:none;color:white;">Submit</button>
      &nbsp;
      <button routerLink="/billing-instruction" type="button" style="font-size:18px;width: 80px; height: 35px; background-color: #3399ff; border:none;color:white;">Back</button>
    </form>
    </div>
    