<div style="margin-top: 5%;" class="container">
    <div class="card">
        
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            
            <p style="font-size:18px;">Instruction level -&nbsp;<b>{{x.inv_delivery.instr_level}}</b></p>
            <p style="font-size:18px;">Epic Agency Code-&nbsp;<b>{{x.inv_delivery.agency_code}}</b></p>
            <p style="font-size:18px;">Site ID-&nbsp;<b>{{x.inv_delivery.s_id}}</b></p>
            <p style="font-size:18px;">Contact name-&nbsp;<b>{{x.client_name}}</b></p>
            <p style="font-size:18px;">GLOB-&nbsp;<b>{{x.inv_delivery.glob}}</b></p>
            <p style="font-size:18px;">Description-&nbsp;<b>{{x.inv_delivery.desc}}</b></p>
            <p style="font-size:18px;">Updated by-&nbsp;<b>{{x.inv_delivery.updated_by}}</b></p>
          </blockquote>
         
        </div>
      </div>
      </div>
