<div>
  
  <!-- <p>{{item.id}}</p>
  <p>{{item.client_name}}</p>
  <p>{{item.code}}</p> -->
  

           
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 200%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}


</style>
</head>
<body>



<div style="overflow-x:auto;">
  <table>
    <tr>
      <th>Instruction level</th>
      <th>Epic Agency Code</th>
      <th>Site ID</th>
      <th>Contact name</th>
      <th>GLOB</th>
      <th>Description</th>
      <th>Updated by</th>
      <th>Updated on</th>
      <th>Action</th>
      
    </tr>
    <tbody *ngFor="let x of item.client_inv_del.$values">
        <tr>
            <td>{{x.inv_delivery.instr_level}}</td>
            <td>{{x.inv_delivery.agency_code}}</td>
            <td>{{x.inv_delivery.s_id}}</td>
            <td>{{x.inv_delivery.contact_name}}</td>
            <td>{{x.inv_delivery.glob}}</td>
            <td>{{x.inv_delivery.desc}}</td>
            <td>{{x.inv_delivery.updated_by}}</td>
            <td>{{x.inv_delivery.updated_on}}</td>
            
            <td> <a href="#" [routerLink]="['/billing-instruction/', item.id, 'view',x.inv_delivery.id,'item']"> <i style="color: black;" class="fas fa-eye"></i></a>&nbsp;|&nbsp;<a href="#" [routerLink]="['/billing-instruction/', item.id, 'edit',x.inv_delivery.id,'item']" > <i style="color: black;" class="fas fa-edit"></i></a></td>
              
          </tr>
          
    </tbody>
    
    
  </table>

</div>

