<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div style="margin-top: 5%;">
	<div class="main_container ">
		<div class="distriutionmain" >
	Distribution Work Queue
		</div>
        <div class="distriutionbuttons">
        <div class="row">
            
            
                <div class="col-sm-2">
            <button class="btn btn-primary btnstyle" type="button" >Email Distribution</button>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary btnstyle" type="button" >Distribute By Mail</button>
            </div>
            <div class="col-sm-2">

            </div>
           
            <div class="col-sm-2 ">
            <button class="btn btn-primary btnstyle" type="button" >Manual Distribution</button>
            </div>
            <div class="col-sm-2">
            <button class="btn btn-primary btnstyle" type="button">Route to CM</button>
            </div>
            <div class="col-sm-2 ">
            <button class="btn btn-primary btnstyle" type="button" >Do Not Distribute</button>
            </div>
      
           </div>
        </div>
	  </div>
</div>
<div >
  <div class="distributionpad">
<div class="card distributioncard" >
  <div class="card-header distributionheader" >
    <b>Summary</b>
  </div>  
  <form class="card-body" >
    <div >
        <div class="row">
            <div class="col-sm-2">
                <div   >
                   <input  type="button" class="change" value=" Marked For CM Review" (click)="scroll(target)" >
                </div>
            </div>
            <div class="col-sm-2">
                <div >
                    <input  type="button" class="change" value=" Email Ready" (click)="scroll(target)" >
                </div>
            </div><div class="col-sm-2">
                <div >
                    <input  type="button" class="change" value=" Print Ready" (click)="scroll(target)" >
                </div>
            </div><div class="col-sm-2">
                <div >
                    <input  type="button" class="change" value=" Special Handling" (click)="scroll(target)" >
                </div>
            </div><div class="col-sm-2">
                <div >
                    <input  type="button" class="change" value=" Do Not Distribute" (click)="scroll(target)" >
                </div>
            </div><div class="col-sm-2">
                <div >
                    <input  type="button" class="change" value=" Multiple Attachments" (click)="scroll(target)" >
                </div>
            </div>
        </div>
      </div>
   
      <p  class="para"></p>
      <div >
          <div class="row">
              <div class="col-sm-2">
                  <div class="change">45</div>
              </div>
              <div class="col-sm-2">
                  <div class="change">43</div>
              </div><div class="col-sm-2">
                  <div class="change">5</div>
              </div><div class="col-sm-2">
                  <div class="change">23</div>
              </div><div class="col-sm-2">
                  <div class="change">43</div>
              </div><div class="col-sm-2">
                  <div class="change">15</div>
              </div>
          </div>
        </div>
     
       </form>
</div>


<div class="card searchcard" >
    <div class="card-header searchheader" >
      <b>Search</b>
    </div>
    
    <form class="card-body" >
  
      <div class="row">
        <div class="col-sm-10">
         <input type="text" id="c_name" name="c_name" placeholder="Invoice No" >
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <input type="text" id="c_name" name="c_name" placeholder="Client Name" >
        </div>
       <div class="col-sm-10">
       
      </div>
       <div class="row">
           <div class="row">
            <button class="btn btn-primary distributionsearch" type="button"(click)="scroll(target)">Search</button>
            <input class="btn btn-primary distributionclear" type="reset" value="Clear" >
        </div>
        
     </div>
     </div>    
     
       </form>
    
  </div>
  
  </div>
  <div class="card-body">
  <div #target style="padding-left:10%; padding-top:-10%">
    <app-cardbody></app-cardbody>
   </div></div>
</div>
