<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div style="margin-top: 5%;">
	<div class="main_container ">
		<div class="distriutionmain" >
	Distribution Work Queue
		</div>
        <div class="distriutionbuttons">
        <div class="row">
            
            
                <div class="col-sm-2">
            <button class="btn btn-primary btnstyle" type="button" >Email Distribution</button>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary btnstyle" type="button" >Distribute By Mail</button>
            </div>
            <div class="col-sm-2">

            </div>
           
            <div class="col-sm-2 ">
            <button class="btn btn-primary btnstyle" type="button" >Manual Distribution</button>
            </div>
            <div class="col-sm-2">
            <button class="btn btn-primary btnstyle" type="button">Route to CM</button>
            </div>
            <div class="col-sm-2 ">
            <button class="btn btn-primary btnstyle" type="button" >Do Not Distribute</button>
            </div>
      
           </div>
        </div>
	  </div>
</div>
<div >
  <div class="distributionpad">
<div class="card distributioncard" >
  <div class="card-header distributionheader" >
    <b>Summary</b>
  </div>  
  <form class="card-body" >
    <div >
        <div class="row">
            <div class="col-sm-2">
                <div   >
                   <input  type="button"   class="change" value=" Marked For CM Review" (click)="markedCm('Ready for cm review')" >
                </div>
            </div>
            <div class="col-sm-2">
                <div >
                    <input  type="button" class="change" value=" Email Ready" (click)="markedCm('Ready for email ')" >
                </div>
            </div><div class="col-sm-2">
                <div >
                    <input  type="button" class="change" value=" Print Ready" (click)="markedCm('Ready for print ')" >
                </div>
            </div><div class="col-sm-2">
                <div >
                    <input  type="button" class="change" value=" Special Handling"  >
                </div>
            </div><div class="col-sm-2">
                <div >
                    <input  type="button" class="change" value=" Do Not Distribute" >
                </div>
            </div><div class="col-sm-2">
                <div >
                    <input  type="button" class="change" value=" Multiple Attachments" >
                </div>
            </div>
        </div>
      </div>
   
      <p  class="para"></p>
      <div >
          <div class="row">
              <div class="col-sm-2">
                  <div class="change">45</div>
              </div>
              <div class="col-sm-2">
                  <div class="change">43</div>
              </div><div class="col-sm-2">
                  <div class="change">5</div>
              </div><div class="col-sm-2">
                  <div class="change">23</div>
              </div><div class="col-sm-2">
                  <div class="change">43</div>
              </div><div class="col-sm-2">
                  <div class="change">15</div>
              </div>
          </div>
        </div>
     
       </form>
</div>


<div class="card searchcard" >
    <div class="card-header searchheader" >
      <b>Search</b>
    </div>
    
    <form class="card-body finalbody" >
  
      <div class="row">
        <div class="col-sm-10">
         <input type="text" id="invoice_name" #invname name="invoice_name"  placeholder="Invoice No" >
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <input type="text" id="client_name" #client_name name="client_name"  placeholder="Client Name" >
        </div>
       <div class="col-sm-10">
       
      </div>
       <div class="row">
           <div class="row">
            <button class="btn btn-primary distributionsearch" type="button" (click)="searching(invname.value, client_name.value)">Search</button>
            <input class="btn btn-primary distributionclear" type="reset" value="Clear" >
        </div>
        
     </div>
     </div>    
     
       </form>

       <div class ="card-body" style="overflow-x:auto;">
        
        <table class="table" id="excel-table">
          <thead >
          <tr >
            
            <th scope="col">Attachment Name</th>
            <th scope="col">Date/Time Approved</th>
            <th scope="col">Epic Agency Code</th>
            <th scope="col">Current Status</th>
            <th scope="col">Installment No.</th>
            <th scope="col">D Mehtod</th>
            <th scope="col">CM Reviewer Email</th>
            <th scope="col">To:Email Address (cc)</th>
            <th scope="col">Cc:Email Address (cc)</th>
            <th scope="col">Invoice #</th>
            <th scope="col">Epic Lookup CD</th>
            <th scope="col">Client Name</th>
            <th scope="col">Send to CM Date</th>
            <th scope="col">CM Reviwer Date</th>
            <th scope="col">CM Approved</th>
    
            
          </tr>
        </thead>
          <tbody>
              <tr *ngFor="let x of this.item.$values">
                  <td scope="row">{{x.attachment_name}}</td>
                  <td scope="row">{{x.datetime_approved}}</td>
                  <td scope="row">{{x.epic_agencycode}}</td>
                  <td scope="row">{{x.current_status}}</td>
                  <td scope="row">{{x.installeddate}}</td>
                  <td scope="row">{{x.dmethod}}</td>
                  <td scope="row">{{x.cmemail}}</td>
                  <td scope="row">{{x.toemail}}</td>
                  <td scope="row">{{x.cmemail}}</td>
                  <td scope="row">{{x.invoice}}</td>
                  <td scope="row">{{x.epic_lookup_code}}</td>
                  <td scope="row">{{x.client_name}}</td>
                  <td scope="row">{{x.sendcm_date}}</td>
                  <td scope="row">{{x.cmreview_date}}</td>
                  <td scope="row">{{x.cmapproved}}</td>
                  
    
                    
                </tr>
                
          </tbody>
          
          
        </table>
        <button type="button" class="btn btn-primary excel" (click)="exportexcel()">Export to Excel</button>
      
    </div>
    
  </div>
  
  </div>
  
  </div>



    
     