<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div style="margin-top: 5%;">
	<div class="main_container">
		<div style="background: #dedede;
		color: grey;
		font-weight: 0;
		font-size: 30px;
		line-height: 18px;		
		margin-top: 65px;
		margin-left: 6%;
		padding: 20px;
		padding-top: 5px;
		margin-right: 0px;
		background-color: white;">
	Distribution Work Queue
		</div>
        <div class="row" style="background: #dedede;
		color: grey;
		font-weight: 0;
		font-size: 30px;
		line-height: 18px;
		
		margin-top: 20px;
		margin-left: 8%;
		margin-right: 0px;
		background-color: white;
        margin-bottom: 15px;">
            <button class="btn btn-primary" type="button" style="font: size 16px;width: auto; height: 35px; background-color: #3399ff;border:none;color:white;">Email Distribution</button>
            <button class="btn btn-primary" type="button" style="margin-left:1%;font: size 16px;width: auto; height: 35px; background-color: #3399ff;border:none;color:white;">Distribute By Mail</button>

            <button class="btn btn-primary" type="button" style="margin-left:43%;font: size 16px;width: auto; height: 35px; background-color: #3399ff;border:none;color:white;">Manual Distribution</button>
            <button class="btn btn-primary" type="button" style="margin-left:1%;font: size 16px;width: auto; height: 35px; background-color: #3399ff;border:none;color:white;">Route to CM</button>
            <button class="btn btn-primary" type="button" style="margin-left:1%;font: size 16px;width: auto; height: 35px; background-color: #3399ff;border:none;color:white;">Do Not Distribute</button>
        </div>
	  </div>
</div>
<div >
  <div style="margin-left: 100px;
    margin-right: 13px;
    background-color: #ebebeb;
    margin-bottom: 0px;
    padding-bottom: 50%;
    text-align: left;
    padding-left: 20px;
    padding-top: 2px;
    padding-right: 20px;
    font-size: 15px;
    line-height: 20pt;">
<div class="card" style="max-height: 400%;margin-top: 50px;">
  <div class="card-header" style="background-color:white;margin-top: 20px;padding-top: 7px;font-size: medium;">
    <b>Summary</b>
  </div>  
  <form class="card-body" >
    <div >
        <div class="row">
            <div class="col-sm-2">
                <div class="change">Marked For CM Review</div>
            </div>
            <div class="col-sm-2">
                <div class="change">Email Ready</div>
            </div><div class="col-sm-2">
                <div class="change">Print Ready</div>
            </div><div class="col-sm-2">
                <div class="change">Special Handling</div>
            </div><div class="col-sm-2">
                <div class="change">Do Not Distribute</div>
            </div><div class="col-sm-2">
                <div class="change">Multiple Attachments</div>
            </div>
        </div>
      </div>
   
     <p  style="margin-top : -13px; "></p>
      <div >
          <div class="row">
              <div class="col-sm-2">
                  <div class="change">45</div>
              </div>
              <div class="col-sm-2">
                  <div class="change">43</div>
              </div><div class="col-sm-2">
                  <div class="change">5</div>
              </div><div class="col-sm-2">
                  <div class="change">23</div>
              </div><div class="col-sm-2">
                  <div class="change">43</div>
              </div><div class="col-sm-2">
                  <div class="change">15</div>
              </div>
          </div>
        </div>
     
       </form>
</div>


<div class="card" style="max-height: 400%;margin-top: 50px;">
    <div class="card-header" style="background-color:white;margin-top: 20px;padding-top: 7px;font-size: medium;">
      <b>Search</b>
    </div>
    
    <form class="card-body" >
  
      <div class="row">
        <div class="col-sm-10">
         <input type="text" id="c_name" name="c_name" placeholder="Invoice No" style="width: 40%;border:none;border-bottom: 2px solid grey;border-right: none;">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <input type="text" id="c_name" name="c_name" placeholder="Client Name" style="width: 40%;border:none;border-bottom: 2px solid grey;border-right: none;">
        </div>
       <div class="col-sm-10">
       
      </div>
       <div class="row">
           <div class="row">
            <button class="btn btn-primary" type="button"style="font: size 16px;width: 80px; height: 35px; background-color: #3399ff;border:none;color:white;margin-right:10px;" (click)="scroll(target)">Search</button>
            <input class="btn btn-primary" type="reset" value="Clear" style="font: size 16px;width: 80px; height: 35px; background-color: #3399ff;border:none;color:white;">
        </div>
        
     </div>
     </div>    
     
       </form>
    
  </div>
  
  </div>
  <div class="card-body">
  <div #target style="padding-left:10%; padding-top:-10%">
    <app-cardbody></app-cardbody>
   </div></div>
</div>


    
     