<div>
  
    <!-- <p>{{obj.id}}</p>
    <p>{{obj.client_name}}</p>
    <p>{{obj.code}}</p>  -->
    
  
  <style>
  table {
    border-collapse: collapse;
    border-color: grey;
    border-spacing: 2;
    width: 100%;
    border: 2px solid #ddd;
  }
  
  th, td {
    text-align: center;
  }
  
  
  </style>
  <body>
  
  
  
  <div class ="card-body" style="overflow-x:auto;">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">View</th>
        <th scope="col">Attachment Name</th>
        <th scope="col">Date/Time Approved</th>
        <th scope="col">Epic Agency Code</th>
        <th scope="col">Current Status</th>
        <th scope="col">Installment No.</th>
        <th scope="col">Delivery Method</th>
        
      </tr>
    </thead>
      <tbody>
          <tr >
              <td scope="row"></td>
              <td scope="row">{{obj.attachment_Name}}</td>
                      <td scope="row">{{obj.aprroved}}</td>
                      <td scope="row">{{obj.agency_Code}}</td>
                      <td scope="row">{{obj.status}}</td>
                      <td scope="row">{{obj.installment_No}}</td>
                      <td scope="row">{{obj.delivery_Method}}</td>

                
            </tr>
            
      </tbody>
      
      
    </table>
  
  </div>
  
  