<div>
  
    <!-- <p>{{item.id}}</p>
    <p>{{item.client_name}}</p>
    <p>{{item.code}}</p>  -->
    
  
  <style>
  table {
    border-collapse: collapse;
    border-color: grey;
    border-spacing: 2;
    width: 100%;
    border: 2px solid #ddd;
  }
  
  th, td {
    text-align: center;
  }
  
  
  </style>
  <body>
  
  
  
  <div class ="card-body" style="overflow-x:auto;">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">View</th>
        <th scope="col">Attachment Name</th>
        <th scope="col">Date/Time Approved</th>
        <th scope="col">Epic Agency Code</th>
        <th scope="col">Current Status</th>
        <th scope="col">Installment No.</th>
        <th scope="col">Delivery Method</th>
        
      </tr>
    </thead>
      <tbody>
          <tr *ngFor="let x of this.item.$values">
              <td scope="row"></td>
              <td scope="row">{{x.attachment_name}}</td>
              <td scope="row"></td>
              <td scope="row"></td>
              <td scope="row"></td>
              <td scope="row"></td>
              <td scope="row"></td>

                
            </tr>
            
      </tbody>
      
      
    </table>
  
  </div>
  
  